# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
env/
venv/
.venv/
ENV/
env.bak/
venv.bak/

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Jupyter Notebook
.ipynb_checkpoints/

# Pytest
.cache/
.pytest_cache/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# pyenv
.python-version

# pipenv
Pipfile.lock

# poetry
poetry.lock

# dotenv
.env
.env.*

# Logs and databases
*.log
*.sqlite3
*.db

# macOS
.DS_Store

# Windows
Thumbs.db
desktop.ini

# VS Code settings
.vscode/

# AWS CLI cache (caso você esteja usando)
.aws/config
.aws/credentials

# dist
build/
dist/
*.egg-info/
